<app-header></app-header>
<app-navigation-header titulo="Detalle de farmacias"></app-navigation-header>

<ion-content class="ion-padding">
    <div class="ion-margin-horizontal">
      
      <h1 class="titulo-azul">FARMACIAS DEL AHORRO <br>
          F A MEXICO SUR, BARRANCA</h1>
      
      <p class="infoLeft"><b>Dirección:</b></p>
      <p class="infoLeft ion-padding-start">Av. Insurgentes Sur 1654</p>
      <p class="infoLeft ion-padding-start">FLORIDA</p>
      <p class="infoLeft ion-padding-start">C.P. 01030</p>
      <p class="infoLeft ion-padding-start">Ciudad de México</p>
      
      <P class="infoLeft"><b>Teléfono:</b> </P>
      <p class="infoLeft ion-padding-start">555480 7800</p>
      
      <P class="infoLeft"><b>Correo electrónico:</b> </P>
      <p class="infoLeft ion-padding-start">email@farmacias.com</p>
  
    </div>

    <ion-button class="btnFormulario"
      color="secondary" 
      expand="block"
      size="small"
      mode="ios"
      routerLink="/">Ver mapa</ion-button>
</ion-content>
