<ion-list>

  <ion-item mode="ios" color="light" routerLink="/home" detail="false" (click)="onClick()">
    <ion-thumbnail slot="start">
      <img src="/assets/images/iconoHome.svg"> 
    </ion-thumbnail>
    <ion-label class="textItemMenu">Inicio</ion-label>
  </ion-item>
  
  <ion-item mode="ios" color="light" routerLink="/criterios-tratamiento" detail="false" (click)="onClick()">
    <ion-thumbnail slot="start">
      <img src="/assets/images/iconoCriteriosTratamiento.svg"> 
    </ion-thumbnail>
    <ion-label class="textItemMenu">Criterios de tratamiento</ion-label>
  </ion-item>
  
  <ion-item mode="ios" color="light" routerLink="/productos-patrocinadores" detail="false" (click)="onClick()">
    <ion-thumbnail slot="start">
      <img src="/assets/images/iconoProductosPatrocinadores.svg"> 
    </ion-thumbnail>
    <ion-label class="textItemMenu">Productos Patrocinadores</ion-label>
  </ion-item>
  
  
  <ion-item mode="ios" color="light" routerLink="/buscador-farmacias" detail="false" (click)="onClick()">
    <ion-thumbnail slot="start">
      <img src="/assets/images/iconoBuscadorFarmacias.svg"> 
    </ion-thumbnail>
    <ion-label class="textItemMenu">Buscador de farmacias</ion-label>
  </ion-item>
  
  <ion-item mode="ios" color="light" routerLink="/informacion-pacientes" detail="false" (click)="onClick()">
    <ion-thumbnail slot="start">
      <img src="/assets/images/iconoInfoPacientes.svg"> 
    </ion-thumbnail>
    <ion-label class="textItemMenu">Información para pacientes</ion-label>
  </ion-item>
  
  <ion-item mode="ios" color="light" routerLink="/solicitud-atencion-servicio" detail="false" (click)="onClick()">
    <ion-thumbnail slot="start">
      <img src="/assets/images/iconoSlicitudServicios.svg"> 
    </ion-thumbnail>
    <ion-label class="textItemMenu">Solicitud de atención y servicio</ion-label>
  </ion-item>
  
  <ion-item mode="ios" color="light" routerLink="/novedades" detail="false" (click)="onClick()">
    <ion-thumbnail slot="start">
      <img src="/assets/images/iconoNovedades.svg"> 
    </ion-thumbnail>
    <ion-label class="textItemMenu">Novedades</ion-label>
  </ion-item>

  <ion-item mode="ios" color="light" routerLink="/farmacovigilancia" detail="false" (click)="onClick()">
    <ion-thumbnail slot="start">
      <img src="/assets/images/iconoFarmacovigilancia.svg"> 
    </ion-thumbnail>
    <ion-label class="textItemMenu">Farmacovigilancia</ion-label>
  </ion-item>

  <ion-item mode="ios" color="light" routerLink="/guias-calculadoras" detail="false" (click)="onClick()">
    <ion-thumbnail slot="start">
      <img src="/assets/images/iconoCalculadoras.svg"> 
    </ion-thumbnail>
    <ion-label class="textItemMenu">Calculadoras</ion-label>
  </ion-item>

</ion-list>