<app-header></app-header>


<ion-content>
  <ion-grid>

    <ion-row class="contentBtnMenu">
      
        <ion-col class="btnMenuPrincipal" routerLink="/criterios-tratamiento">
            <img src="/assets/images/iconoCriteriosTratamiento.svg"> 
            <p class="seccionNombre">Criterios de tratamiento</p>
        </ion-col>

        <ion-col class="btnMenuPrincipal" routerLink="/productos-patrocinadores">
            <img src="/assets/images/iconoProductosPatrocinadores.svg">
            <p class="seccionNombre">Productos Patrocinadores</p>
        </ion-col>

        <ion-col class="btnMenuPrincipal" routerLink="/buscador-farmacias">
            <img src="/assets/images/iconoBuscadorFarmacias.svg">
            <p class="seccionNombre">Buscador de Farmacias</p>
        </ion-col>

        <ion-col class="btnMenuPrincipal" routerLink="/informacion-pacientes">
            <img src="/assets/images/iconoInfoPacientes.svg">
            <p class="seccionNombre">Información para pacientes</p>
        </ion-col>

    </ion-row>

    <ion-row class="contentBtnMenu">

        <ion-col class="btnMenuPrincipal" routerLink="/solicitud-atencion-servicio">
            <img src="/assets/images/iconoSlicitudServicios.svg">
            <p class="seccionNombre">Solicitud atención y servicio</p>
        </ion-col>

        <ion-col class="btnMenuPrincipal" routerLink="/novedades">
            <img src="/assets/images/iconoNovedades.svg">
            <p class="seccionNombre">Novedades</p>
        </ion-col>

        <ion-col class="btnMenuPrincipal" routerLink="/farmacovigilancia">
            <img src="/assets/images/iconoFarmacovigilancia.svg">
            <p class="seccionNombre">Farmacovigilancia</p>
        </ion-col>

        <ion-col class="btnMenuPrincipal" routerLink="/calculadoras">
            <img src="/assets/images/iconoCalculadoras.svg">
            <p class="seccionNombre">Calculadoras</p>
        </ion-col>

    </ion-row>

    <ion-row class="contentLogoCliente" size="3">
    </ion-row>
          
  </ion-grid>
</ion-content>
